services:
  memphis-metadata:
    image: memphisos/memphis-metadata:docker-15.2.0-debian-11-r27
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U memphis -p 5005"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - memphis
    volumes:
      - memphis-postgres-data:/var/lib/postgresql/data
    ports:
      - '5005:5005'
    environment:
      POSTGRESQL_USERNAME: memphis
      POSTGRESQL_PASSWORD: memphis
      POSTGRESQL_DATABASE: memphis
      POSTGRESQL_PORT_NUMBER: 5005
    deploy:
      resources:
        limits:
          cpus: ${BROKER_MEMPHIS_METADATA_CPU_LIMIT}
          memory: ${BROKER_MEMPHIS_METADATA_MEMORY_LIMIT}
  
  broker:
    image: memphisos/memphis:${DOCKER_MEMPHIS_IMAGE_TAG}
    depends_on:
      memphis-metadata:
        condition: service_healthy
    healthcheck:
      test: wget http://127.0.0.1:9000 --spider || exit 1
      interval: 10s
      retries: 30
      start_period: 60s
    restart: on-failure
    # pull_policy: always
    networks:
      - memphis
    ports:
      - "9000:9000"
      - "6666:6666"
      - "7770:7770"
    environment:
      ROOT_PASSWORD: memphis
      DOCKER_ENV: true
      ENV: staging
      USER_PASS_BASED_AUTH: true
      CONNECTION_TOKEN: memphis
      METADATA_DB_HOST: memphis-metadata
      INITIAL_CONFIG_FILE: |
        users:
          mgmt:
          - user: ${MEMPHIS_ADMIN_USERNAME}
            password: ${MEMPHIS_ADMIN_PASSWORD}
          client:
          - user: ${MEMPHIS_USERNAME}
            password: ${MEMPHIS_PASSWORD}
          - user: ${MEMPHIS_USERNAME2}
            password: ${MEMPHIS_PASSWORD2}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    deploy:
      resources:
        limits:
          cpus: ${BROKER_MEMPHIS_CPU_LIMIT}
          memory: ${BROKER_MEMPHIS_MEMORY_LIMIT}

  # memphis-rest-gateway:
  #   image: "memphisos/memphis-rest-gateway:1.2.8"
  #   depends_on:
  #     memphis:
  #       condition: service_healthy
  #   restart: on-failure
  #   pull_policy: always
  #   networks:
  #     - memphis
  #   ports:
  #     - "4444:4444"
  #   environment:
  #     JWT_SECRET: JWT_TEST_PURPOSE
  #     REFRESH_JWT_SECRET: REFRESH_JWT_TEST_PURPOSE
  #     USER_PASS_BASED_AUTH: '"true"'
  #     CONNECTION_TOKEN: memphis
  #     ROOT_USER: root
  #     ROOT_PASSWORD: memphis
  #     MEMPHIS_HOST: memphis
  #     HTTP_PORT: 4444

  station-creator:
    build: .
    env_file:
      - ../.env
      - ./.env
    volumes:
      - ./station-creator.py:/app/station-creator.py
      - memphis-data:/data
    depends_on:
      broker:
        condition: service_healthy
    networks:
      - memphis
    environment:
      MEMPHIS_BROKER_HOST: ${MEMPHIS_BROKER_HOST}
      MEMPHIS_BROKER_PORT: ${MEMPHIS_BROKER_PORT}
      MEMPHIS_ADMIN_USERNAME: ${MEMPHIS_ROOT_USERNAME}
      MEMPHIS_ADMIN_PASSWORD: ${MEMPHIS_ROOT_PASSWORD}
      MEMPHIS_TOPIC_NAME: ${MEMPHIS_TOPIC_NAME}
      PARTITION_COUNT: ${PARTITION_COUNT}

      # delivery
      MEMPHIS_IDEMPOTENCY: ${MEMPHIS_IDEMPOTENCY}
      MEMPHIS_MAX_ACK_TIME_MS: ${MEMPHIS_MAX_ACK_TIME_MS}
      MEMPHIS_MAX_MESSAGE_DELIVERIES: ${MEMPHIS_MAX_MESSAGE_DELIVERIES}
    restart: "no"
    command: python station-creator.py

  producer:
    build: .
    command: bash -c "export PRODUCER_ID=$(hostname | sed 's/.*-//'); exec python producer.py"
    env_file:
      - ../.env
      - ./.env
    volumes:
      - ./producer.py:/app/producer.py
      - ./results:/app/results
    depends_on:
      broker:
        condition: service_healthy
      consumer:
        condition: service_started
      station-creator:
        condition: service_completed_successfully
    networks:
      - memphis
    environment:
      PRODUCER_COUNT: ${PRODUCER_COUNT}
      CONSUMER_COUNT: ${CONSUMER_COUNT}
      PARTITION_COUNT: ${PARTITION_COUNT}
      DELIVERY_MODE: ${DELIVERY_MODE}
      MEMPHIS_BROKER_HOST: ${MEMPHIS_BROKER_HOST}
      MEMPHIS_BROKER_PORT: ${MEMPHIS_BROKER_PORT}
      MEMPHIS_USERNAME: ${MEMPHIS_USERNAME}
      MEMPHIS_PASSWORD: ${MEMPHIS_PASSWORD}
      MEMPHIS_TOPIC_NAME: ${MEMPHIS_TOPIC_NAME}
    restart: "no"

  consumer:
    build: .
    command: bash -c "export CONSUMER_ID=$(hostname | sed 's/.*-//'); exec python consumer.py"
    env_file:
      - ../.env
      - ./.env
    volumes:
      - ./consumer.py:/app/consumer.py
      - ./results:/app/results
    depends_on:
      broker:
        condition: service_healthy
      station-creator:
        condition: service_completed_successfully
    networks:
      - memphis
    environment:
      PRODUCER_COUNT: ${PRODUCER_COUNT}
      CONSUMER_COUNT: ${CONSUMER_COUNT}
      PARTITION_COUNT: ${PARTITION_COUNT}
      DELIVERY_MODE: ${DELIVERY_MODE}
      MEMPHIS_BROKER_HOST: ${MEMPHIS_BROKER_HOST}
      MEMPHIS_BROKER_PORT: ${MEMPHIS_BROKER_PORT}
      MEMPHIS_USERNAME: ${MEMPHIS_USERNAME2}
      MEMPHIS_PASSWORD: ${MEMPHIS_PASSWORD2}
      MEMPHIS_TOPIC_NAME: ${MEMPHIS_TOPIC_NAME}

      # delivery
      MEMPHIS_CONSUMER_ACK_POLICY: ${MEMPHIS_CONSUMER_ACK_POLICY}
    restart: "no"

networks:
  memphis:
    ipam:
      driver: default
volumes:
  memphis-postgres-data:
  memphis-data:
